---
import "@/styles/globals.css";
import { Icon } from "astro-icon/components";
import { buttonVariants } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout lang="it">
  <section class="text-center flex items-center grow">
    <div class="mx-auto">
      <Icon
        id="stars-01"
        name="stars-01"
        class="mx-auto w-32 h-32 stroke-black dark:stroke-white stroke-1 mb-3"
      />
      <h1 data-aos="fade">
        Hai bisogno di un'app <br class="hidden sm:block" />per la tua attività?
      </h1>
      <p class="lead md:max-w-2xl" data-aos="fade" data-aos-delay="200">
        Supporto completo e soluzioni personalizzate per realizzare un'app su misura per la tua attività, dall'idea all'implementazione. Lavoriamo insieme?
      </p>
      <div class="mt-3">
        <a
          class={buttonVariants()}
          href="mailto:app@piervito.com"
          data-aos="fade"
          data-aos-delay="300"
        >
          Contattami
        </a>
        <a
          class={buttonVariants({ variant: "outline" })}
          href="/"
          data-aos="fade"
          data-aos-delay="400"
        >
          Il mio CV
        </a>
      </div>
    </div>
  </section>

  <slot name="scripts">
    <script is:inline src="/vivus.min.js"></script>

    <script is:inline>
      function easeOutSine(x) {
        return Math.sin((x * Math.PI) / 2);
      }

      var duration;
      if (window.innerWidth < 500) {
        duration = 300;
      } else {
        duration = 150;
      }
      new Vivus("stars-01", {
        duration,
        pathTimingFunction: easeOutSine,
      });
    </script>
  </slot>
</BaseLayout>
