---
import "@/styles/globals.css";
import { ModeToggle } from "@/components/ModeToggle";
import { Separator } from "@/components/ui/separator";
import Footer from "@/components/Footer.astro";
import { Icon } from "astro-icon/components";

import GithubLink from "@/components/GitHubLink.astro";
import { Image } from "astro:assets";
import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";
import ProfileDecoration from "@/components/ProfileDecoration.astro";
---

<html lang="it">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Piervito Creanza</title>
    <link rel="stylesheet" href="/aos/aos.css" />
  </head>
  <body class="dark:diamond-gradient">
    <div class="fixed m-3 right-0 bottom-0"><ModeToggle client:load /></div>
    <div class="container min-h-screen flex flex-col justify-between">
      <section class="text-center flex items-center grow">
        <div class="mx-auto">
          <Icon
            id="stars-01"
            name="stars-01"
            class="mx-auto w-32 h-32 stroke-black dark:stroke-white stroke-1 mb-3"
          />
          <h1 data-aos="fade">
            Hai bisogno di un'app <br class="hidden sm:block" />per la tua
            attività?
          </h1>
          <p class="lead md:max-w-2xl" data-aos="fade" data-aos-delay="200">
            Dall'idea alla realizzazione, un'app su misura per la tua attività,
            offrendoti supporto completo e soluzioni personalizzate.
          </p>
          <div class="mt-3">
            <a
              class={buttonVariants()}
              href="mailto:app@piervito.com"
              data-aos="fade"
              data-aos-delay="300"
            >
              Contattami
            </a>
            <a
              class={buttonVariants({ variant: "outline" })}
              href="/"
              data-aos="fade"
              data-aos-delay="400"
            >
              Il mio CV
            </a>
          </div>
        </div>
      </section>

      <Footer />
    </div>
  </body>
  <script is:inline src="/aos/aos.js"></script>
  <script is:inline>
    const getThemePreference = () => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      console.log("No theme preference found in localStorage");
      // Fallback to dark theme
      return "dark";
      /*
      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";*/
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
      const observer = new MutationObserver(() => {
        const isDark = document.documentElement.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
      });
      observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ["class"],
      });
    }
    AOS.init({
      easing: "ease-in-out",
      duration: 700,
    });
  </script>
  <script is:inline src="/vivus.min.js"></script>
  <script is:inline>
    function easeOutSine(x) {
      return Math.sin((x * Math.PI) / 2);
    }

    var duration;
    if (window.innerWidth < 500) {
      duration = 300;
    } else {
      duration = 150;
    }
    new Vivus("stars-01", {
      duration,
      pathTimingFunction: easeOutSine,
    });
  </script>
</html>
