---
// Footer.astro
import { Separator } from "@/components/ui/separator";
import GithubLink from "@/components/GitHubLink.astro";
---

<footer class="text-center text-gray-500 text-sm mt-8 mb-4">
  <Separator className="my-3" />
  <p>
    Crafted with ❤️ by <a
      href="#"
      data-contact="am9iQHBpZXJ2aXRvLmNvbQ=="
      onfocus="this.href = 'mailto:' + atob(this.dataset.contact)"
    >
      Pier
    </a>. Technology stack: <a href="https://astro.build">Astro</a>, <a
      href="https://tailwindcss.com">Tailwind CSS</a
    > and <a href="https://ui.shadcn.com/">Shadcn</a>
  </p>
  <div class="flex justify-center mt-2">
    <GithubLink profileName="PiervitoCreanza" projectName="piervito.com" />
  </div>
</footer>
